.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.credentials
.lesshst
.rnd
.scala_history
.serverauth*
.viminfo
.zcompdump*
.zsh-update
.zsh_history

.Trash/
.account
.bash_sessions
.cache
.coursier
.docker
.dropbox
.ivy2
.local
.macports
.oracle_jre_usage
.profile
.ssh
.vagrant.d
.vim
Applications
Desktop
Dev
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
QT
VirtualBox VMs
