.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.rnd
.serverauth*
.viminfo   

.Trash/
.account
.bash_sessions
.cache
.config
.coursier
.docker
.dropbox
.ivy2
.local
.macports
.oracle_jre_usage
.profile
.ssh
.vagrant.d
.vim
Applications
Desktop
Dev
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
VirtualBox VMs
